.App {
  text-align: center;
}

.image {
  pointer-events: none;
  border-radius: 10;
  width: 100;
  height: 50;
}

.App-header {
  background-color: white;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 0 5px 0 #82B7DC;
  position: fixed;
  top: 0;
  width: 100%
}

.intro {
  padding: 20px;
  margin: 20px 40px 20px 20px;
  background-color: #808080;
  border-radius: 30px;
  color: white;
}

.wallet-button {
  background-color: #3466AA;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 60px;
  border-radius: 10px;
  margin: 10px 0px;
  cursor: pointer;
  border-width: 0;
}

.action-button {
  background-color: #3466AA;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 10px;
  margin: 10px 0px;
  cursor: pointer;
  border-width: 0;
}

.loan-info{
  font-size: large;
  color: #3466AA;
  margin: 10px 0;
}

.loan-description{
  font-weight: normal;
  color: #3466AA;
  margin: 10px 0;
}

.description{
  font-size: large;
  color: #3466AA;
  margin: 10px 0;
}

.content-section{
  flex: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works{
  color: #82B7DC;
}

.powered-by{
  color: #82B7DC;
}

.repay-section{
  display: flex;
  flex-direction: column;
}

.amount-input{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}