.App {
  text-align: center;
}

.image {
  pointer-events: none;
  border-radius: 10;
  width: 100;
  height: 50;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wallet-button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.action-button {
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.loan-info{
  font-size: large;
  margin: 10px 0;
}